.menuMain {
  /* -fx-background-color: redpastel;*/
  /* -fx-background-color: rgb(240, 240, 158); */
  -fx-width: 100%;
  -fx-height: 100%;
  -fx-background-image: url("file:src/main/resources/uet/gryffindor/img/menu/background.jpg");
  -fx-background-size: 100%;
}

.button {
  -fx-background-color: rgb(90, 226, 219);
  -fx-min-width: 100%;
  -fx-min-height: 30px;
  -fx-opacity: 0.9;
}

.button:hover {
  -fx-background-color: rgb(0, 255, 242);
  -fx-opacity: 1;
}

.lineInMenu {
  -fx-background-color: royalblue;
}
